{% extends "layouts/dashboard.twig" %}

{% block body %}
	<div class="flex flex-wrap">
		<div
			class="w-full md:w-1/2 xl:w-1/3 p-3">
			<!--Metric Card-->
			<div class="bg-white border rounded shadow p-2">
				<div class="flex flex-row items-center">
					<div class="flex-shrink pr-4">
						<div class="rounded p-3 bg-green-600">
							<i class="fa fa-wallet fa-2x fa-fw fa-inverse"></i>
						</div>
					</div>
					<div class="flex-1 text-right md:text-center">
						<h5 class="font-bold uppercase text-gray-500">
							Total Apps
						</h5>
						<h3 class="font-bold text-3xl">
							{{ totalApps }}
							<span class="text-green-500">
								<i class="fas fa-caret-up"></i>
							</span>
						</h3>
					</div>
				</div>
			</div>
			<!--/Metric Card-->
		</div>
		<div
			class="w-full md:w-1/2 xl:w-1/3 p-3">
			<!--Metric Card-->
			<div class="bg-white border rounded shadow p-2">
				<div class="flex flex-row items-center">
					<div class="flex-shrink pr-4">
						<div class="rounded p-3 bg-pink-600">
							<i class="fas fa-history fa-2x fa-fw fa-inverse"></i>
						</div>
					</div>
					<div class="flex-1 text-right md:text-center">
						<h5 class="font-bold uppercase text-gray-500">Total Deployments</h5>
						<h3 class="font-bold text-3xl">
							{{ totalDeployments }}
							<span class="text-pink-500">
								<i class="fas fa-exchange-alt"></i>
							</span>
						</h3>
					</div>
				</div>
			</div>
			<!--/Metric Card-->
		</div>
		<div
			class="w-full md:w-1/2 xl:w-1/3 p-3">
			<!--Metric Card-->
			<div class="bg-white border rounded shadow p-2">
				<div class="flex flex-row items-center">
					<div class="flex-shrink pr-4">
						<div class="rounded p-3 bg-yellow-600">
							<i class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i>
						</div>
					</div>
					<div class="flex-1 text-right md:text-center">
						<h5 class="font-bold uppercase text-gray-500">New Users</h5>
						<h3 class="font-bold text-3xl">
							{{ totalUsers }}
							<span class="text-yellow-600">
								<i class="fas fa-caret-up"></i>
							</span>
						</h3>
					</div>
				</div>
			</div>
			<!--/Metric Card-->
		</div>


	</div>

	<hr class="border-b-2 border-gray-400 my-8 mx-4"/>


	<div class="grid grid-cols-8 gap-4">
		<div class="col-span-6">
			<div class="w-full p-3">
				<h4 class="font-medium text-2xl mb-4">
					Recent Deployments
				</h4>
				{% include "partials/dashboard/deployments.table.twig" with {
          deployments: recentDeployments
        } %}
			</div>

		</div>
		<div class="col-span-2" x-data="activityFeed()" x-init="init">
			<div class="w-full p-3">
				<h4 class="font-medium text-2xl mb-4">
					Activity Feed
				</h4>

				<template x-if="feed.length">
					<ul>
						<template x-for="(item, index) in feed">
							<li class="mb-2 border-b-2 pb-2">
								<a x-bind:href="item.action" class="flex">
									<template x-if="!item.user.avatar">
										<img class="w-8 h-8 rounded-full mr-4" x-bind:src="`https://ui-avatars.com/api/?name=${item.user.name}`" alt="Avatar of User">
									</template>
									<template x-if="item.user.avatar">
										<img class="w-8 h-8 rounded-full mr-4" x-bind:src="item.user.avatar" alt="Avatar of User">
									</template>
									<div class="relative w-full">
										<span class="font-semibold text-base text-gray-900" x-text="item.user.name"></span>
										<p class="text-sm text-gray-700" x-text="item.title"></p>
										<span class="text-xs absolute top-0 right-0" x-text="moment(item.createdAt).fromNow()"></span>
									</div>
								</a>
							</li>
						</template>
					</ul>
				</template>
				<template x-if="feed.length == 0">
					<div class="bg-white font-semibold py-3 rounded text-center text-sm uppercase">Nothing to show</div>
				</template>
			</div>

		</div>
	</div>
{% endblock %}
